.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
}   

.display {
    height: 50%;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--white);
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 3rem;
    letter-spacing: 5px;
}

.inputs {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inputs__row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.btn {
    border: none;
    padding: .5rem;
    background-color: var(--background-color);
    color: var(--white);
    font-size: 2rem;
}

.operation {
    color: var(--primary-color);
}

#evaluate {
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    color: var(--background-color);
    border-radius: 100px;
}

#clear {
    transform: rotate(180deg);
    color: var(--orange);
}

#backspace {
    color: var(--red);
    font-weight: bold;
}